@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

:root {
  --primary-color: #004eb5;
  --primary-color-text: #ffffff;
  --secondary-color: #ff8c00;
  --secondary-color-text: #ffffff;
  --error-color: #ff4d4f;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--surface-ground);
  color: var(--text-color);
}
.text-danger {
  color: var(--error-color) !important;
}
